.send-message-container {
  height: 5rem;
  gap: 1rem;
  justify-items: center;
  align-items: center;
}

.send-message-container textarea {
  height: 3rem;
  border-radius: 10px;
  padding: 0.5rem;
  resize: none;
  width: 25rem;
  height: 3rem;
}

@media screen and (min-width: 767px) {
  .send-message-container textarea {
    width: 30rem;
  }
}
