.header {
  position: relative;
  justify-content: space-between;
  height: 4rem;
  background-color: var(--foreground-color);
  align-items: center;
  width: 100%;
  color: var(--text-color);
}
