.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 4rem;
  background-color: var(--background-color);
  align-items: center;
  width: 100%;
  padding: 2rem 1rem;
}
