.error-wrapper {
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.error-text {
  flex-direction: column;
  max-width: 30rem;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  color: var(--foreground-color);
}

.error-text h1 {
  font-size: 6rem;
}

.error-text h2 {
  text-align: center;
}

.error-text a {
  font-size: var(--h3-font-size);
}
