.quick-search-wrapper {
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.quick-search {
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  width: 100%;
}

.quick-search > * {
  height: 4rem;
  border-radius: 5px;
  padding: 0.5rem;
}

.quick-search > input {
  border: solid 1px;
  outline: none;
}

.search-buttons {
  grid-column: span 2;
  gap: 1rem;
}

.search-buttons a {
  color: var(--foreground-color);
  cursor: pointer;
  align-self: center;
  justify-self: start;
}

@media screen and (min-width: 767px) {
  .quick-search {
    grid-template-columns: repeat(4, 1fr);
  }

  .search-buttons {
    grid-column: span 4;
  }
}
