.car-wrapper {
  flex-direction: column;
  gap: 2rem;
}

.car-image_img {
  aspect-ratio: 5/4;
  max-height: 40rem;
  object-fit: none;
  object-position: 50% 80%;
  height: 100%;
}

.car-primary-info {
  flex-direction: column;
  gap: 1rem;
}

.car-price {
  position: relative;
}

.car-secondary-info {
  margin-top: 2rem;
  gap: 2rem;
  flex-direction: column;
}

.car-info-key {
  font-weight: bold;
}

.edit {
  height: 1.5rem;
  cursor: pointer;
}

.car-feature-wrapper {
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}

.car-buttons {
  margin-top: 1rem;
}

.car-buttons * {
  margin-right: 1rem;
}

h3 {
  text-transform: capitalize;
}

input,
select,
label {
  margin-right: 0.4rem;
  height: 2rem;
}

input,
textarea,
select {
  display: inline-block;
  border: none;
  outline: none;
}

label input[type="radio"],
input[type="checkbox"] {
  margin-top: -0.3rem;
  vertical-align: middle;
}

@media screen and (min-width: 767px) {
  /* .car-wrapper {
    flex-direction: row;
  } */
}
