.car-card {
  position: relative;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem 0.5rem 0 0;
  overflow: hidden;
  cursor: pointer;
  min-height: 20rem;
}

.fav-icon {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  height: 2rem;
  width: 2rem;
  z-index: 999;
  background-color: var(--overlay-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fav-icon img {
  height: 1.5rem;
  width: 1.5rem;
}

.car-image_img {
  aspect-ratio: 5/4;
  object-fit: cover;
  width: 100%;
}

.car-info {
  padding: 0.5rem;
}

.car-info > * {
  height: 2rem;
}

.car-info h1:first-of-type {
  height: auto;
}

.owner {
  background-color: var(--foreground-color);
}

@media screen and (min-width: 480) {
  .car-card {
    border-radius: 1rem 1rem 0 0;
  }

  .car-info {
    padding: 1rem;
  }

  .car-info > * {
    margin-top: 1rem;
  }
}
