.cars-wrapper {
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.cars-wrapper h2 {
  margin-top: 2rem;
  grid-column: 1 / -1;
  align-self: center;
  justify-self: center;
}

.pagination-wrapper {
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
}

.pagination-wrapper button:disabled {
  color: var(--text-color-dark);
}

@media screen and (min-width: 480px) {
  .cars-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1060px) {
  .cars-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
