.car-form-wrapper {
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.car-form-wrapper input {
  padding: 0.5rem;
}

.car-form_form {
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.car-form_form > * {
  height: 4rem;
}

.upload-image-label {
  color: var(--text-color);
  background-color: var(--foreground-color);
  height: 3rem;
  width: 70%;
  border: none;
  padding: 0.5rem;
  box-shadow: var(--box-shadow);
  font-size: var(--h2-font-size);
  font-weight: 500;
  cursor: pointer;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.upload-image-label img {
  height: 2rem;
}

.upload-image {
  display: none;
}

.min-max-wrapper {
  flex-direction: row;
  justify-content: space-between;
}

.min-max-wrapper * {
  flex-direction: row;
  justify-content: space-between;
  width: 48%;
}

.radio-wrapper {
  align-items: center;
  justify-content: center;
  gap: 1rem;
  min-width: 350px;
}

.radio-wrapper * {
  margin: 0.5rem;
}

.checkbox_label {
  align-items: center;
  justify-content: center;
}

.checkbox_label * {
  margin: 0.5rem;
}

.min-max-wrapper select {
  width: 20%;
}

.car-form-wrapper textarea {
  height: fit-content;
  resize: vertical;
}
