.cars-wrapper {
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

@media screen and (min-width: 480px) {
  .cars-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1060px) {
  .cars-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
