.button {
  color: var(--text-color);
  background-color: var(--foreground-color);
  height: 3rem;
  border: none;
  box-shadow: var(--box-shadow);
  font-size: var(--h2-font-size);
  font-weight: 500;
  cursor: pointer;
  padding: 0.5rem;
}

.button:disabled {
  cursor: default;
}
