.car-search-wrapper {
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.car-search-wrapper input {
  padding: 0.5rem;
}

.car-search_form {
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.car-search_form > * {
  height: 4rem;
}

.min-max-wrapper {
  flex-direction: row;
  gap: 0.2rem;
}

.radio-wrapper {
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.radio-wrapper * {
  margin: 0.5rem;
}

.checkbox_label {
  align-items: center;
  justify-content: center;
}

.checkbox_label * {
  margin: 0.5rem;
}

.car-search_form input[type="submit"] {
  grid-column: span 1;
}
