.messages-container {
  flex: 6;
  height: calc(100vh - 20rem);
  margin-left: 1rem;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

.message-container {
  flex-direction: column;
  overflow-y: auto;
}

.message {
  padding: 0.5rem;
  border-radius: 1rem;
  display: inline-block;
  margin: 0.1rem;
  width: auto;
}

.sentMessage {
  background-color: var(--foreground-color);
  color: var(--text-color);
  align-self: start;
}

.receivedMessage {
  background-color: var(--text-color);
  color: var(--foreground-color);
  margin-right: 0;
  align-self: end;
}

@media screen and (min-width: 767px) {
  .receivedMessage {
    margin-right: 15rem;
  }
}
