.footer {
  background-color: var(--footer-background-color);
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  min-width: 251px;
  color: var(--text-color);
  bottom: 0;
  margin-top: auto;
}

.footer ul {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  align-items: center;
}

.footer ul a {
  font-size: var(--h3-font-size);
  color: var(--text-color);
}
